<mat-toolbar class="navbar">
    <button mat-button routerLink="/home" style="height:auto; width: auto;">
        <img class="logo" src="./../assets/images/logo.png" alt="preventip" width="25%" height="25%" />
    </button>

    <span class="fill-remaining-space"></span>

    <div>
        <button mat-button routerLinkActive="active" routerLink="/dashboard">Últimos resultados</button>
        <button mat-button routerLinkActive="active" routerLink="/catalogue">Historial de resultados</button>
        <button mat-button routerLinkActive="active" routerLink="/login">Cerrar sesión</button>
    </div>
</mat-toolbar>