<mat-drawer-container class="example-container">
    <mat-card>
        
    </mat-card>
    <mat-drawer mode="side" opened>
        <img class="logo"
            src="http://st3.depositphotos.com/1007566/12799/v/450/depositphotos_127993376-stock-illustration-grandfather-character-member-avatar.jpg">
        <h4 class="name">Doña Pelos</h4>
        <mat-divider></mat-divider>
        <div class="example-button-row">
        </div>


    </mat-drawer>
    <mat-drawer-content>
        <div class="content mat-elevation-z8">

            <router-outlet>

            </router-outlet>


        </div>
    </mat-drawer-content>
</mat-drawer-container>